<template>
    <div class="card">
        <div class="card-body">
            <h1>
               Repositories
            </h1>
            <hr/>
            <table class="table table-bordered table-striped" v-if="posts && posts.length">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        <strong>Tags</strong>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="repository of posts">
                    <td>
                        <strong>
                            <router-link :to="{ name: 'Repository', params: { name: repository.name }}">{{repository.name}}</router-link>
                        </strong>
                    </td>
                    <td>{{repository.tags.length}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        posts: [],
        errors: []
      }
    },

    // Fetches posts when the component is created.
    created () {
      axios.get(`http://127.0.0.1:5000/v2/_catalog`)
        .then(response => {
          for (let variable of response.data.repositories) {
            axios.get(`http://127.0.0.1:5000/v2/` + variable + '/tags/list')
              .then(response => {
                // JSON responses are automatically parsed.
                this.posts.push(response.data)
              })
              .catch(e => {
                this.errors.push(e)
              })
          }
        })
        .catch(e => {
          this.errors.push(e)
        })

      // async / await version (created() becomes async created())
      //
      // try {
      //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
      //   this.posts = response.data
      // } catch (e) {
      //   this.errors.push(e)
      // }
    }
  }
</script>