<template>
    <div class="card">
        <div class="card-body">
            <h1>
                Repository {{repository.name}}
            </h1>
            <hr/>
        </div>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: ['name'],

    data () {
      return {
        posts: [],
        errors: [],
        repository: {}
      }
    },

    // Fetches posts when the component is created.
    created () {
      axios.get(`http://127.0.0.1:5000/v2/` + this.name + '/manifests/latest')
        .then(response => {
          // JSON responses are automatically parsed.
          this.repository = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })

      // async / await version (created() becomes async created())
      //
      // try {
      //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
      //   this.posts = response.data
      // } catch (e) {
      //   this.errors.push(e)
      // }
    }
  }
</script>