<template>
  <header class="app-header navbar">
    <b-link class="navbar-brand" to="#"></b-link>
    <ul class="nav navbar-nav d-md-down-none mr-auto" v-if="navItems && navItems.length">
      <li class="nav-item px-3" v-for="(item, index) in navItems">
        <a class="nav-link" :href=item.url>{{item.name}}</a>
      </li>
    </ul>
  </header>
</template>
<script>
export default {
  name: 'header',
  props: {
    navItems: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  methods: {
    sidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-hidden')
    },
    sidebarMinimize (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-minimized')
    },
    mobileSidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-mobile-show')
    },
    asideToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('aside-menu-hidden')
    }
  }
}
</script>
